.mini-card {
    -webkit-touch-callout: none;
    /* aspect-ratio: 1; */
    background-color: var(--theme-section-bg-gray);
    border: 1px solid transparent;
    border-radius: 10px;
    color: var(--theme-page-fg);
    padding: 2em;
    position: relative;
    transition: transform .4s cubic-bezier(.075, .82, .165, 1) 0ms, box-shadow .4s cubic-bezier(.075, .82, .165, 1) 0ms, opacity .4s cubic-bezier(.075, .82, .165, 1) 0ms, border-color .4s cubic-bezier(.075, .82, .165, 1) 0ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.mini-card::before {
    content: "";
    display: block;
    padding-top: 100%;
    /* 1:1 宽高比 */
}

@media screen and (max-width:860px) {
    .mini-card {
        padding: 1em
    }
}

.mini-card:hover {
    border-color: rgba(var(--theme-page-fg-rgb), .08);
    border-bottom-color: rgba(var(--theme-page-fg-rgb), .25);
    box-shadow: 0 9px 11.5px -3px rgba(0, 0, 0, .1), 0 18.5px 28.5px 0 rgba(0, 0, 0, .034), 0 7px 37.5px 0 rgba(0, 0, 0, .026);
    transform: scale(1.05) translateY(-3px);

}

.mini-card:active {
    box-shadow: 0 .5px 1px 0 rgba(0, 0, 0, .03), 0 2px 2px 0 rgba(0, 0, 0, .002), 0 .5px 2.5px 0 rgba(0, 0, 0, .016)
}

.mini-card__content {
    grid-gap: 1em;
    bottom: 1.75em;
    display: grid;
    gap: 1em;
    grid-template-areas: "title" "description" "label";
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(0, 1fr) auto;
    left: 1.75em;
    overflow: hidden;
    position: absolute;
    right: 1.75em;
    top: 1.75em
}

.mini-card__content .title {
    grid-area: "title"
}

.mini-card__content .label {
    grid-area: "label"
}

@media screen and (max-width:1024px) {
    .mini-card__content {
        gap: .5em
    }
}

.mini-card__title {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: max(16px, min(1.2789473684vw, 19px));
    font-weight: 600;
    overflow: hidden
}

.mini-card__description {
    height: auto;
    line-height: 1.4;
    width: 100%
}

.mini-card__label {
    color: var(--theme-link)
}

.mini-card--shadow {
    box-shadow: 0 3px 4px -1px rgba(0, 0, 0, .05), 0 7px 9.5px 0 rgba(0, 0, 0, .011), 0 2.5px 12.5px 0 rgba(0, 0, 0, .019)
}

.mini-card--white {
    background-color: var(--theme-page-bg);
    color: var(--theme-page-fg)
}

@media screen and (max-width:860px) {
    .mini-card {
        aspect-ratio: 5/4
    }
}

.mini-card-list__card-group {
    display: flex;
    flex-wrap: nowrap
}

.mini-card-list__card {
    flex: none;
    max-height: 280px;
    margin-right: 3%;
}

@media screen and (max-width:860px) {
    .mini-card-list__card {
        max-width: none
    }
}

.pillar__features {
    grid-area: features;
    margin: 2em auto 1em;
    width: 100%
}

.pillar__highlights-heading {
    margin-bottom: 6em
}

@media screen and (max-width:860px) {
    .pillar__highlights-heading {
        margin-bottom: 3em
    }
}

.pillar__highlights {
    margin-bottom: 12em;
    padding: 0;
    position: relative
}

@media screen and (max-width:860px) {
    .pillar__highlights {
        margin-bottom: 6em
    }
}

.pillar__all-features-heading {
    margin-bottom: 6em
}

@media screen and (max-width:860px) {
    .pillar__all-features-heading {
        margin-bottom: 3em
    }
}